<header class="ekart-header">
  <a class="ekart.logo" href="/">Ekart</a>
  <div class="ekart-header-nav">
    <ul class="ekart-top-bar">
      <ul class="ekart-top-bar">
        <a class="nav-link" href="/help">Help</a>

        <a class="nav-link" href="/order">Order Tracker</a>
        <a class="nav-link" href="/returns">Exchange and returns</a>
        <a class="nav-link" href="/auth">Signup / Login</a>
      </ul>
    </ul>
    <ul class="ekart-bottom-bar">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/products">products</a>
      <a class="nav-link" href="/contact">Contact</a>
      <a class="nav-link" href="/about">About</a>
    </ul>
  </div>
</header>
