<div class="container">
  <h2>Products Component</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products; let i = index">
      {{ i + 1 }}
      <!-- Display index and product name -->
      <h3>Product</h3>
      <div class="card">
        <img
          class="card-img-top"
          [src]="product.imageUrl"
          [alt]="product.name"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">{{ product.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
