@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap");

* {
  /* margin: 0px;
  padding: 0px;
  box-sizing: border-box; */
}

body {
}

h1,
h2,
h3 {
  font-family: "Edu AU VIC WA NT Hand", cursive;
}

a.nav-link {
  text-decoration: none;
  margin: 0 10px;
  color: #28282b;
}
